/* SECTION  Caption h1 */
  /* Small devices (landscape phones, 544px and up) */
  @media (min-width: 0px) {  
    .caption h1 {font-size:1.2rem;} /*1rem = 16px*/
  }
  
  /* Small devices (landscape phones, 544px and up) */
  @media (min-width: 576px) {  
    .caption h1 {font-size:1.2rem;} /*1rem = 16px*/
  }
   
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
    .caption h1 {font-size:2rem;} /*1rem = 16px*/
  }
   
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    .caption h1 {font-size:2.5rem;} /*1rem = 16px*/
  }
   
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    .caption h1 {font-size:3rem;} /*1rem = 16px*/    
  }


/* SECTION  Caption */
  /* Small devices (landscape phones, 544px and up) */
  @media (min-width: 0px) {  
    .caption {font-size:.6rem;} /*1rem = 16px*/
  }

  /* Small devices (landscape phones, 544px and up) */
  @media (min-width: 576px) {  
    .caption  {font-size:.9rem;} /*1rem = 16px*/
  }
  
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
    .caption  {font-size:1rem;} /*1rem = 16px*/
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    .caption  {font-size:1rem;} /*1rem = 16px*/
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    .caption  {font-size:1rem;} /*1rem = 16px*/    
  }